.link-hub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__pfp {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2.5rem;
  }

  &__username {
    margin-bottom: 0.5rem;
  }

  &__surname {
    &:hover {
      color: $color-delicate-white;
      cursor: pointer;
    }
  }
}
