//-------------------------Responsive-----------------------------//

@mixin responsive($breakpoints) {
  @media only screen and (min-width: $breakpoints) {
    @content;
  }
}

@mixin responsive_max($breakpoints) {
  @media only screen and (max-width: $breakpoints) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  @include responsive(90.25em) {
    font-size: 1.3em;
  }
}

body {
  background-color: $color-primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
