//-------------------------Colors variables-----------------------------//
$color-primary: rgb(30, 30, 30);
$color-neutral-white: rgb(255, 255, 255);
$color-delicate-white: rgb(239, 239, 239);
$color-neutral-black: rgb(0, 0, 0);
